**/bin/
**/obj/
**/TestResults/
**/coverage-report/


*.user
*.rsuser
*.suo

.vs/
*.vscode/


.idea/



.DS_Store
Thumbs.db


*.log

TestResults/


*.nupkg
packages/


*.g.cs
*.g.i.cs


publish/

coverage/
*.coverage
*.coveragexml

*.tmp
*.temp


.dotnet-tools/

*.bak
*~
